packaging_format = 2

id = "writefreely"
name = "WriteFreely"
description.en = "For starting a minimalist, federated blog or an entire community"
description.fr = "Permet de créer un blog fédéré minimaliste ou une communauté entière"

version = "0.16.0~ynh1"

maintainers = []

[upstream]
license = "AGPL-3.0-or-later"
website = "https://writefreely.org"
demo = "https://write.as/new"
userdoc = "https://writefreely.org/start"
code = "https://github.com/writeas/writefreely"

[integration]
yunohost = ">= 12.0.9"
helpers_version = "2.1"
architectures = ["arm64", "amd64", "armhf"]
multi_instance = true

ldap = false
sso = false

disk = "50M"
ram.build = "50M"
ram.runtime = "50M"

[install]
    [install.domain]
    type = "domain"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

    [install.admin]
    type = "user"

    [install.password]
    type = "password"

    [install.single_user]
    ask.en = "Choose if you want a Single User Blog?"
    ask.fr = "Souhaitez vous un blog pour un seul utilisateur ?"
    type = "boolean"
    default = true

[resources]
    [resources.sources]
        [resources.sources.main]
        arm64.url = "https://github.com/writefreely/writefreely/releases/download/v0.16.0/writefreely_0.16.0_linux_arm64.tar.gz"
        arm64.sha256 = "544705c523deead7e2719c233326c17c9baf313daa2737aa82dfda5d783f9b33"
        amd64.url = "https://github.com/writefreely/writefreely/releases/download/v0.16.0/writefreely_0.16.0_linux_amd64.tar.gz"
        amd64.sha256 = "4626c2998f4cdad3390452f0e18950ccd0a2d3b6e3595e45a40db6df0a2defa5"
        armhf.url = "https://github.com/writefreely/writefreely/releases/download/v0.16.0/writefreely_0.16.0_linux_arm7.tar.gz"
        armhf.sha256 = "8f6f381585f38007552e3f913bb6f7d5d83392759771a5caa20f66de3ef510e9"

        autoupdate.strategy = "latest_github_release"
        autoupdate.asset.arm64 = "^writefreely_.*_linux_arm64.tar.gz$"
        autoupdate.asset.amd64 = "^writefreely_.*_linux_amd64.tar.gz$"
        autoupdate.asset.armhf = "^writefreely_.*_linux_arm7.tar.gz$"

    [resources.system_user]
    allow_email = true

    [resources.install_dir]
    group = "www-data:r-x"

    [resources.ports]

    [resources.permissions]
    main.url = "/"
    api.url = "/api"
    api.allowed= "visitors"
    api.auth_header= false
    api.show_tile= false
    api.protected= true

    [resources.apt]
    packages = "mariadb-server"

    [resources.database]
    type = "mysql"
