[Unit]
Description=Write Freely Service
After=network.target

[Service]
Type=simple
User=__APP__
Group=__APP__
StandardOutput=syslog
StandardError=syslog
WorkingDirectory=__FINALPATH__
ExecStart=__FINALPATH__/writefreely
Restart=always

[Install]
WantedBy=multi-user.target
