[Unit]
Description=Write Freely Service
After=network.target

[Service]
Type=simple
User=__APP__
Group=__APP__
WorkingDirectory=__FINALPATH__/
ExecStart=__FINALPATH__/__APP__ >> /var/log/__APP__/__APP__.log 2>&1

[Install]
WantedBy=multi-user.target
